body {
  margin-top: 100px !important;
}

.Content {
  background-color: #B8D5B8;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 25px;
  border: 0;
  position: sticky;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  top: 0;
  width: 100%;
  z-index: 9999;
}

.InnerContent {
  display: inline-block;
}

.InnerContent div {
  font-size: 20px;
  display: inline-block;
  color: #900606;
}

.InnerContent .units {
  display: inline;
  color: #000;
}